h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: white;
}

h2 {
  font-size: 23px;
  color: white;
}

.factionText {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

#text-input {
  width: 30%;
  height: 50px;
  margin-top: 17px;
  margin-right: 3%;
}

.list_people {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 4%;
}

.form_team {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2%;
}

.submit_button {
  width: 12%;
  height: 50px;
  border-radius: 12px;
  background-color: transparent;
  color: white;
  margin-top: 17px;
  font-size: 20px;
}

.full_fac_btn {
  background-color: transparent;
  color: white;
  font-size: 15px;
  margin: 15px;
  padding: 20px;
  border-radius: 6px;
}

#full_fac_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#ng {
  color: white;
}

.error {
  padding-top: 10px;
  color: #b43761;
  font-size: 18px;
  font-weight: bold;
}
