.flex {
  display: flex;
}

.flexAro {
  display: flex;
  justify-content: space-around;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.white_color {
  color: white;
}

.border {
  border: 2px solid black;
}

.pannel {
  min-width: 40vw;
  min-height: 40vh;
}

.maxw {
  width: 100%;
}

.factionText {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}
