.flex {
  display: flex;
}

.flexAro {
  display: flex;
  justify-content: space-around;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.white_color {
  color: white;
}

.border {
  border: 2px solid white;
}

.pannel {
  width: 40vw;
  height: 40vh;
  overflow: scroll;
}

.big_pannel {
  min-width: 40vw;
  min-height: 40vh;
}

.maxw {
  width: 100%;
}

.maxh {
  width: 100%;
}

.flexEnd {
  justify-content: flex-end;
}
