body {
  background-color: #0081cf;
  background-image: linear-gradient(to bottom right, #0081cf, #008f7a);
  height: 100vh;
  width: 100vw;
  /*background-repeat: no-repeat;
  background-size: 100vh, 100vw;*/
}
